/* Estilos globales que cobijan todas las secciones*/

body{
  max-width: 100vw;
  font-size: 12pt;
  overflow: auto;
  text-align: left;
  line-height: 1;
  font-family: sans-serif;
background-color: yellow;
-webkit-tap-highlight-color: transparent; /* Makes the highlight invisible */
}



a{text-decoration: none;
color: inherit;}

a:hover{
  opacity: 0.7;}

  #headervolador{color: blue;
  float: left;
text-align: center;
font-weight: bold;
width: 10%;
margin-left: 1%;
margin-top: -.5%;
position: fixed;
z-index: 99;
}

/* Esto no se usa pero está bien tenerlo por ahí sin ser borrado
#headervoladorcentro{color: grey;
  background-color: teal;
  font-size: 10pt;
  clear: both;
text-align: center;
font-weight: bold;
margin: auto;
width: 100%;
position: fixed;
z-index: 0;
}
*/

#headervolador2{color: black;
text-align: center;
font-weight: bold;
margin-left: 87.7%;
width: 10%;
position: fixed;
z-index: 96;
}

.containerproyectos {
  max-height: 100%;
  max-width: 100%;
  margin: 1% 1% 1% 1%;
  padding: 1%;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

/* Estilo para "Control buttons"*/

#sort-options{
 max-width: 80%;
  margin-left: 10%;
  position: relative;
  margin-top: 15px;
  text-align: center;
  z-index: 95;
}

.btn {
  background-color: transparent;
  text-align: center;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  color: black;
  font-size: 1em;
  border-radius: 4px;
  transition: 350ms;
}

.btn:hover {
  color: blue;
  background-color: transparent;
}

.btn:focus{
  outline: none;
  background-color: none;
  color: blue;
  font-weight: bold;
}

.btn:active {
  background-color: transparent;
  color: pink;
}

@keyframes showing{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

.filterItems {
  background-color: transparent;
  border-radius: none;
  display: none;
  overflow: hidden;
  height: 100%;
}


.show {
  display: block;
  animation: 350ms showing linear;
}

/* Fin estilo para "Control buttons"*/


#infoproy {height: 100%;
  margin-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;}

.nombreproyecto{
font-size: 10pt;
position: relative;
width: 20%;
margin-top: 5px;
float: left;}

.año{
font-size: 10pt;
position: relative;
width: 20%;
opacity: 50%;
float: right;
margin-top: 5px;
text-align: right;}


.documentosproyectos{font-style: italic;
color: blue;}





@media (max-width: 900px){

/* Estilos globales que cobijan todas las secciones*/

#headervolador{
text-align: center;
margin-top: 0%;
width: 13%;
position: fixed;
z-index: 1;
}

#headervolador2{color: black;
text-align: center;
font-weight: bold;
margin-left:71%;
width: 25%;
position: fixed;
z-index: 96;
}

.containerproyectos {
    position: relative;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -7%;
  padding: 0%;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  overflow: none;
}

/* Estilo para "Control buttons"*/

#sort-options{
  width: 40%;
  position: relative;
  margin-top: 15px;
  margin-left: 20%;
  text-align: left;
  z-index: 0;
  margin-bottom: 11%;
}

.btn {
  border: none;
  text-align: left;
  width: 100%;
  padding: 1% 3%;
  cursor: pointer;
  color: black;
  font-size: 0.8rem;
  border-radius: none;
  transition: 350ms;
}

.filterItems {
  position: relative;
  background-color: transparent;
  align-content: center;
  display: none;
  overflow: hidden;
  height: 150%;
  width: 100%;
}

.filterItems > img{
  width: 100%;
}

.show {
  display: block;
  animation: 350ms showing linear;
}


.nombre{
text-align: left;
width: 90%;}

/* Fin estilo para índice artes*/

}
@media (max-width: 500px){

/* Estilos globales que cobijan todas las secciones*/

#headervolador{
text-align: center;
margin-top: -3.5%;
width: 13%;
position: fixed;
z-index: 1;
}



